@use "src/styles/variables" as *;

.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

.center_items_vertical, .center_items{
  align-items: center;
}
.center_items_horizontal, .center_items{
  justify-content: center;
}
.content{
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 4rem;
}